<h1>Educert Process Control System</h1>

<p>Your School "<%= @company_name %>" has been created with your email id as school admin.</p>
<p>Please login at <a href="http://educertpro.com">http://educertpro.com</a> to access your account.</p>
<p>Use password: <strong><%= @admin_pwd %></strong> for login.</p>