<h1>Educert Process Control System</h1>

<p>Your School "<%= @company_name %>" has been created with your email id as school admin.</p>
<p>Please login at <a href="http://educertpro.com">http://educertpro.com</a> to access your account.</p>
<p>Use password: <strong><%= @admin_pwd %></strong> for login.</p>

<p>
	Click here (give link to <a herf="http://educertpro.com/login">http://educertpro.com/login</a>) to login and give your input or approval as appropriate.
</p>  