<h1>Educert Process Control System</h1>

<p>Task "<%= @task_title %>" is available for you now.</p>
<p>Please complete your work.</p>


<p>
	Click here (give link to <a herf="http://educertpro.com/login">http://educertpro.com/login</a>) to login and give your input or approval as appropriate.
</p>  