<div class="companies school-folder">
	<!-- <div class="left_part">
	</div> -->
	<div class="report-tab">
		<div class="title report">
			<h1>School Documents</h1>
		</div>
		<div class="download_excel">
			<% if current_user.is_admin? %>
				<%= link_to "Create new folder", new_document_path %>
			<% end %>
		</div>
		<div class="cl"></div>
		<% count = 0 %>
			<ul>
				<% if @folders.present? %>
					<% @folders.each do |folder| %>
						<% if folder.school_files.present? %>
						<% count += 1 %>
							<li class="doc_details">
								<div class="folder_icon">
									<%= link_to("<i class='fa fa-folder'></i>".html_safe,   document_path(folder) , :class => 'folderIcon') %>
								</div>
								<div class="about_folder">
			            <%= link_to folder.name, document_path(folder), class: "folder_name" %>
			            <% if current_user.is_admin? %>
									<%= link_to("<i class='fa fa-trash'></i>".html_safe, document_path(folder), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'deletIcon') %>
						<% end %>			
								</div>
							</li>
						<% end %>
					<% end %>
				<% end %>
				<% if count < 1%>
					<li>No Records available</li>
				<% end %>
			</ul>
	</div>
</div>