<div class="create_company">
	<div class="title">
	  <h1>Editing School</h1>
	</div>
<%= render 'form', company: @company %>
<%= link_to 'Show', @company %> |
<%= link_to 'Back', companies_path %>
</div>