<div class="create_company">
	<div class="title">
	  <h1>Editing School</h1>
	</div>
	
	<%= render 'form', company: @company %>
	<div class="backText">
		<%#= link_to 'Show', @company %> 
		<%= link_to 'Back', companies_path %>
	</div>
</div>