<div class="title report">
  <h1>Editing Access On Form</h1>
</div>

<%= render 'form', access_on_form: @access_on_form %>

<%#= link_to 'Show', @access_on_form %>
<%#= link_to 'Back', access_on_forms_path %>
