<h1>Reports</h1>
<p>

<table>	
	<tr>
		<th>
			Number
	    </th>
	    <th>
			Form Name
	    </th>

	    <th>
			Form Status
	    </th>
    </tr>		

  <% @tasks.each do |task| %>
     <tr>
		<td>
		
	    </td>
	    <td>
		
	    </td>

	    <td>
			Form Status
	    </td>
    </tr>

  <% end %>
  
</table>

</p>
