<div class="title report">
	<h1>Reports</h1>
</div>
<p>

<table class="company_table report" border="0" cellspacing="0" cellpadding="0" width="100%">	
	<thead>
	    <tr>
			<th >
				Number
		    </th>
		    <th >
				Form Name
		    </th>

		    <th >
				Form Status
		    </th>
		</tr>
    </thead>		

  <% @tasks.each do |task| %>
     <tr>
		<td >
		<%= task.id %>
	    </td>
	    <td >
	

		<%= link_to form_name(task.name, task.form_number), edit_task_path(task.id) %>
	    </td>

	    <td >
	     <%=  task.task_status %>
	    </td>
    </tr>

  <% end %>
  
</table>

</p>
